/bin/
/config.properties
/stub-cat-key-adder.state
/stub.articles
/stub.templates
/unused-stub-templates.lst
/stub-unused.lst
/category-tree.dot
/category-tree.dot~
/category-tree.png
/category-tree.svg
*~